/* ProfileGenerationPage.css */

.profile-generation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .profile-generation-container h2 {
    margin-bottom: 20px;
  }
  
  .profile-generation-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-generation-container input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .profile-generation-container .radio-box {
    border: 1px solid #ccc; /* Border around radio buttons */
    border-radius: 5px;
    padding: 10px;
    display: flex;
    gap: 20px;
  }
  
  .profile-generation-container button {
    width: 150px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-generation-container button:hover {
    background-color: #0056b3;
  }
  
  .profile-generation-container p {
    margin-top: 20px;
  }
  
  .profile-generation-container p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .profile-generation-container p a:hover {
    text-decoration: underline;
  }
  